<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Jose</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
    </tr>
    <tr>
      <th>Claudia</th>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
    </tr>
    <tr>
      <th>Alba</th>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Javi</th>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
    </tr>
    <tr>
      <th>Varun</th>
      <td>15</td>
      <td>7</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
  </tbody>
</table>