<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Kate</th>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>Victor</th>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
    </tr>
    <tr>
      <th>Jorge</th>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>Regina</th>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Alvara</th>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Borja</th>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Ana</th>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Cris</th>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Lora</th>
      <td>15</td>
      <td>7</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>7</td>
      <td>OFF</td>
      <td>OFF</td>
    </tr>
    <tr>
      <th>Natalia</th>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>Carles</th>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>15</td>
      <td>OFF</td>
      <td>OFF</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
  </tbody>
</table>