<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('btn-generate-manager').bind('click', function() {
            $.getJSON('/create_manager_schedule',
                function(data) {
            });
            return false;
          });
        });

</script>
{% extends "index.html" %}

{% block title %}
    Random Example Schedule

{% endblock %}
{% block main %}
<div id = "content">
  <form action="/create_manager_schedule" method="post">
        <button class="btn btn-primary" name = "btn"  id="btn-generate-manager" type="submit" onclick="loading();" value = "Manager" >Generate Manager Schedule</button>
    </form>
</div>
{% endblock %}
{% block div %}
<div id="loading"/></div>
<div id = "content1">
<h3>{{month}}</h3>
        {% include 'new-schedule.html' %}

<button class = "btn btn-primary" id = "btn-download"><a href = "{{ url_for('download_as_csv', role='Manager') }}">Save as Excel File</a></button>
  </div>
{% endblock %}
